#define IDM_FILE_EXIT  10001
#define IDM_FILE_LIST  10002
#define IDM_HELP_ABOUT 10101

MyMenu  MENU
BEGIN
	POPUP "&File"
  	BEGIN
    		MENUITEM "E&xit",IDM_FILE_EXIT
	END
	POPUP "&Action"
	BEGIN
		MENUITEM "R&ecommendation",IDM_FILE_RECOMMENDATION
		MENUITEM "L&ist",IDM_FILE_LIST
	POPUP "&Help"
	BEGIN
	    	MENUITEM "&About",IDM_HELP_ABOUT
	END
END
